<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Dropbox</title>
</head>
<body>
    <div class="container">
        <div class="menu">
            <div class="menu__logo">
                <img class="menu__logo_item" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Vector.svg" alt="logo">
                <img class="menu__logo_name" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\DROPBOX.svg" alt="dropbox">

            </div>
            <div class="menu__items">
                <button class="menu__items_button menu__items_button_hover_home">
                    <i class="fa-solid fa-house menu__items_logo"></i>
                    <span class="menu__items_text">Home</span>
                </button>
                <button class="menu__items_button menu__items_button_hover_myFiles">
                    <i class="fa-solid fa-folder menu__items_logo"></i>
                    <span class="menu__items_text">My Files</span>
                </button>
                <button class="menu__items_button menu__items_button_hover_starred">
                    <i class="fa-solid fa-star menu__items_logo"></i>
                    <span class="menu__items_text">Starred</span>
                </button>
                <button class="menu__items_button menu__items_button_hover_files">
                    <i class="fa-solid fa-file-export menu__items_logo"></i>
                    <span class="menu__items_text">Files Requests</span>
                </button>
                <button class="menu__items_button menu__items_button_hover_sharred">
                    <i class="fa-solid fa-share-nodes menu__items_logo"></i>
                    <span class="menu__items_text">Sharred</span>
                </button>
                <button class="menu__items_button menu__items_button_hover_deleted">
                    <i class="fa-solid fa-trash-can menu__items_logo"></i>
                    <span class="menu__items_text">Deleted</span>
                </button>
                
                
            </div>
            <div class="menu__footer">
                <img class="menu__footer_image" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 28.png" alt="folder">
                <span class="menu__footer_text">75% In-use</span>
                <progress class="menu__footer_progress" value="600" max="800"></progress>
                <span class="menu__footer_progress-text text_blue">600GB</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="menu__footer_progress-text text_grey">800GB</span>
                <button class="menu__footer_button"><span class="menu__footer_button-text">Upgrade</span></button>
            </div>

        </div>
        
        <div class="main-screen">
            <header class="header">
                <div class="header__text">
                    <h2 class="header__text_h2">My Cloud</h2>
                    <span class="header__text_span">Welcome, Kirill Prakhov! <span class="emozi">&#128075</span></span>
                </div>
                <div class="header__function">

                    <div class="header_function_input">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input class="header_function_input_item" type="text" placeholder="Search anything here">
                    </div>
                    <button class="header__function_notifications"><i class="fa-solid fa-bell"></i></button>
                    <button class="header__function_options"><i class="fa-solid fa-gear"></i></button>
                    <button class="header__function_avatar"><i class="fa-solid fa-user-astronaut"></i></button>
                </div>
            </header>
            <main class="main">
                <div class="main__container">
                    <div class="main__container_header">
                        <button class="main__container_button"><i class="fa-solid fa-folder main__container_button_icon"></i></button>
                        <div class="main__container_description">
                            <span class="main__container_description_name">Documents</span>
                            <span class="main__container_description_date">Sep 25,2022,13:25 PM</span>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical main__container_menu-icon"></i>
                    </div>
                    <div class="main__container_text">
                        <span >Shared Users</span>
                        <span >Inside Users</span>
                    </div>
                    <div class="main__container_image">
                            <img class="main__container_image_avatar1" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1997.svg" alt="avatar">
                            <img class="main__container_image_avatar2" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1998.svg" alt="avatar">
                            <img class="main__container_image_avatar3" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1999.svg" alt="avatar">
                            <img class="main__container_image_avatar4" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2000.svg" alt="avatar">
                            <button class="main__container_image_button"><span class="main__container_image_button_text">80+</span></button>
                            <button class="main__container_insideUsers"><span class="main__container_insideUsers_text">3985</span></button>
                    </div>
                </div>
                <div class="main__container">
                    <div class="main__container_header">
                        <button class="main__container_button"><i class="fa-solid fa-folder main__container_button_icon"></i></button>
                        <div class="main__container_description">
                            <span class="main__container_description_name">Music</span>
                            <span class="main__container_description_date">Sep 25,2022,13:25 PM</span>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical main__container_menu-icon"></i>
                    </div>
                    <div class="main__container_text">
                        <span >Shared Users</span>
                        <span >Inside Users</span>
                    </div>
                    <div class="main__container_image">
                            <img class="main__container_image_avatar1" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1997 (1).svg" alt="avatar">
                            <img class="main__container_image_avatar2" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1998 (1).svg" alt="avatar">
                            <img class="main__container_image_avatar3" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1999 (1).svg" alt="avatar">
                            <img class="main__container_image_avatar4" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2000 (1).svg" alt="avatar">
                            <button class="main__container_image_button"><span class="main__container_image_button_text">5+</span></button>
                            <button class="main__container_insideUsers"><span class="main__container_insideUsers_text">499</span></button>
                    </div>
                </div>
                <div class="main__container">
                    <div class="main__container_header">
                        <button class="main__container_button"><i class="fa-solid fa-folder main__container_button_icon"></i></button>
                        <div class="main__container_description">
                            <span class="main__container_description_name">ProjectK</span>
                            <span class="main__container_description_date">Sep 25,2022,13:25 PM</span>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical main__container_menu-icon"></i>
                    </div>
                    <div class="main__container_text">
                        <span >Shared Users</span>
                        <span >Inside Users</span>
                    </div>
                    <div class="main__container_image">
                            <img class="main__container_image_avatar1" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1997 (2).svg" alt="avatar">
                            <img class="main__container_image_avatar2" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1998 (2).svg" alt="avatar">
                            <img class="main__container_image_avatar3" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1999 (2).svg" alt="avatar">
                            <img class="main__container_image_avatar4" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1997.svg" alt="avatar">
                            <button class="main__container_image_button"><span class="main__container_image_button_text">14+</span></button>
                            <button class="main__container_insideUsers"><span class="main__container_insideUsers_text">256</span></button>
                    </div>
                </div>
                <div class="main__container">
                    <div class="main__container_header">
                        <button class="main__container_button"><i class="fa-solid fa-folder main__container_button_icon"></i></button>
                        <div class="main__container_description">
                            <span class="main__container_description_name">Rico Media</span>
                            <span class="main__container_description_date">Sep 25,2022,13:25 PM</span>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical main__container_menu-icon"></i>
                    </div>
                    <div class="main__container_text">
                        <span >Shared Users</span>
                        <span >Inside Users</span>
                    </div>
                    <div class="main__container_image">
                            <img class="main__container_image_avatar1" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1997 (3).svg" alt="avatar">
                            <img class="main__container_image_avatar2" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1998 (3).svg" alt="avatar">
                            <img class="main__container_image_avatar3" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1999 (3).svg" alt="avatar">
                            <img class="main__container_image_avatar4" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2000 (2).svg" alt="avatar">
                            <button class="main__container_image_button"><span class="main__container_image_button_text">512+</span></button>
                            <button class="main__container_insideUsers"><span class="main__container_insideUsers_text">1225</span></button>
                    </div>
                </div>
                <div class="main__container">
                    <div class="main__container_header">
                        <button class="main__container_button"><i class="fa-solid fa-folder main__container_button_icon"></i></button>
                        <div class="main__container_description">
                            <span class="main__container_description_name">New Dev</span>
                            <span class="main__container_description_date">Sep 25,2022,13:25 PM</span>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical main__container_menu-icon"></i>
                    </div>
                    <div class="main__container_text">
                        <span >Shared Users</span>
                        <span >Inside Users</span>
                    </div>
                    <div class="main__container_image">
                            <img class="main__container_image_avatar1" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1997 (4).svg" alt="avatar">
                            <img class="main__container_image_avatar2" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1998 (4).svg" alt="avatar">
                            <img class="main__container_image_avatar3" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1999 (4).svg" alt="avatar">
                            <img class="main__container_image_avatar4" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2000 (3).svg" alt="avatar">
                            <button class="main__container_image_button"><span class="main__container_image_button_text">22+</span></button>
                            <button class="main__container_insideUsers"><span class="main__container_insideUsers_text">2265</span></button>
                    </div>
                </div>
                <div class="main__container">
                    <div class="main__container_header">
                        <button class="main__container_button"><i class="fa-solid fa-folder main__container_button_icon"></i></button>
                        <div class="main__container_description">
                            <span class="main__container_description_name">Files 2022</span>
                            <span class="main__container_description_date">Sep 25,2022,13:25 PM</span>
                        </div>
                        <i class="fa-solid fa-ellipsis-vertical main__container_menu-icon"></i>
                    </div>
                    <div class="main__container_text">
                        <span >Shared Users</span>
                        <span >Inside Users</span>
                    </div>
                    <div class="main__container_image">
                            <img class="main__container_image_avatar1" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1997 (5).svg" alt="avatar">
                            <img class="main__container_image_avatar2" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1998 (5).svg" alt="avatar">
                            <img class="main__container_image_avatar3" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 1999 (5).svg" alt="avatar">
                            <img class="main__container_image_avatar4" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2000 (4).svg" alt="avatar">
                            <button class="main__container_image_button"><span class="main__container_image_button_text">12+</span></button>
                            <button class="main__container_insideUsers"><span class="main__container_insideUsers_text">597</span></button>
                    </div>
                </div>
            </main>
            <footer class="footer">
                <h2 class="footer__h2">Recent Files</h2>
                <div class="footer__main">
                    <div class="footer__main_header">
                        <button class="footer__main_header_button_style footer__main_header_button_name"><span class="footer__main_header_button_text">Name</span><i class="fa-solid fa-sort"></i></i></button>
                        <button class="footer__main_header_button_style footer__main_header_button_shared"><span class="footer__main_header_button_text">Shared Users</span><i class="fa-solid fa-sort"></i></button>
                        <button class="footer__main_header_button_style footer__main_header_button_file"><span class="footer__main_header_button_text">File Size</span><i class="fa-solid fa-sort"></i></button>
                        <button class="footer__main_header_button_style footer__main_header_button_last"><span class="footer__main_header_button_text">Last Modified</span><i class="fa-solid fa-sort"></i></button>
                    </div>
                    <div class="footer__main_png">
                        <button class="footer__main_png_button"><i class="fa-solid fa-image"></i></button><span class="footer__main_png_text">Website Design.png</span>
                        <img class="footer__main_png_img footer__main_png_img_relative1" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2009.svg" alt="avatar">
                        <img class="footer__main_png_img footer__main_png_img_relative2" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2010.svg" alt="avatar">
                        <img class="footer__main_png_img footer__main_png_img_relative3" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2011.svg" alt="avatar">
                        <img class="footer__main_png_img footer__main_png_img_relative4" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2012.svg" alt="avatar">
                        <button class="footer__main_png_img_button"><span>+12</span></button>
                        <span class="footer__main_png_text_storage">2.8 MB</span>
                        <span class="footer__main_png_text_date">Dec 13,2022</span>
                        <i class="fa-solid fa-ellipsis-vertical footer__main_png_text_icon"></i>
                    </div>
                    <div class="footer__main_zip">
                        <button class="footer__main_zip_button"><i class="fa-solid fa-folder"></i></button><span class="footer__main_png_text">UX-UI.zip</span>
                        <img class="footer__main_png_img footer__main_zip_relative1" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2009 (1).svg" alt="avatar">
                        <img class="footer__main_png_img footer__main_zip_relative2" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2010 (1).svg" alt="avatar">
                        <img class="footer__main_png_img footer__main_zip_relative3" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2011 (1).svg" alt="avatar">
                        <img class="footer__main_png_img footer__main_zip_relative4" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2012 (1).svg" alt="avatar">
                        <button class="footer__main_zip_img_button"><span>+5</span></button>
                        <span class="footer__main_zip_text_storage">242 MB</span>
                        <span class="footer__main_zip_text_date">Dec 12,2022</span>
                        <i class="fa-solid fa-ellipsis-vertical footer__main_zip_text_icon"></i>
                    </div>
                    <div class="footer__main_mp4">
                        <button class="footer__main_mp4_button"><i class="fa-solid fa-video"></i></button><span class="footer__main_png_text">Office.mp4</span>
                        <img class="footer__main_png_img footer__main_mp4_relative1" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2010 (2).svg" alt="avatar">
                        <img class="footer__main_png_img footer__main_mp4_relative2" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Rectangle 2011 (2).svg" alt="avatar">
                        <span class="footer__main_mp4_text_storage">1,8 GB</span>
                        <span class="footer__main_mp4_text_date">Dec 12,2022</span>
                        <i class="fa-solid fa-ellipsis-vertical footer__main_mp4_text_icon"></i>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/4d34f4c6b7.js" crossorigin="anonymous"></script>
    
    
</body>
</html>