<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Dropbox</title>
</head>
<body>
    <div class="container">
        <div class="menu">
            <div class="menu_logo">
                <img class="menu_logo_item" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\Vector.svg" alt="logo">
                <img class="menu_logo_name" src="C:\Users\kirya\OneDrive\Documents\GitHub\firstLayour\layout\img\DROPBOX.svg" alt="dropbox">

            </div>
            <div class="menu__items">
                <button class="menu__items_button">
                    <i class="fa-solid fa-house menu__items_logo"></i>
                    <span class="menu__items_text">Home</span>
                </button>
                <button class="menu__items_button">
                    <i class="fa-solid fa-folder menu__items_logo"></i>
                    <span class="menu__items_text">My Files</span>
                </button>
                <button class="menu__items_button">
                    <i class="fa-solid fa-star menu__items_logo"></i>
                    <span class="menu__items_text">Starred</span>
                </button>
                <button class="menu__items_button">
                    <i class="fa-solid fa-file-export menu__items_logo"></i>
                    <span class="menu__items_text">Files Requests</span>
                </button>
                <button class="menu__items_button">
                    <i class="fa-solid fa-share-nodes menu__items_logo"></i>
                    <span class="menu__items_text">Sharred</span>
                </button>
                <button class="menu__items_button">
                    <i class="fa-solid fa-share-nodes menu__item_logo"></i>
                    <span class="menu__items_text">Deleted</span>
                </button>
                
                
            </div>
        </div>
        
        <div class="main-screen">
            <header class="header">
                <div class="header__text">
                    <h2 class="header__text_h2">My Cloud</h2>
                    <span class="header__text_span">Welcome, Kirill Prakhov! <span class="emozi">&#128075</span></span>
                </div>
                <div class="header__function">

                    <div class="header_function_input">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input class="header_function_input_item" type="text" placeholder="Search anything here">
                    </div>
                    <button class="header__function_notifications"><i class="fa-solid fa-bell"></i></button>
                    <button class="header__function_options"><i class="fa-solid fa-gear"></i></button>
                    <button class="header__function_avatar"><i class="fa-solid fa-user-astronaut"></i></button>
                </div>
            </header>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/4d34f4c6b7.js" crossorigin="anonymous"></script>
</body>
</html>