@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 100%;
    height: 1022px;
}

/* --------------------HEADER------------------------------------------------------------------- */
.header {
    height: 18%;
    background-color: #EBF2FF;
    margin-top: 48px;
    margin-left: 67px;
    margin-right: 62px;
    display: flex;
    justify-content: space-between;
    
}

.main-screen {
    width: 85%;
    background-color: #EBF2FF;
    height: 100%;
}

.header__text_h2 {
    font-size: 28px;
    font-family: Poppins;
    font-weight: 600;
}
.header__text_span {
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    line-height: 40px;
    color: #757897;
}
.emozi {
    font-size: 15px;
}
.header_function {
    float: right;
}
.header__function_avatar {
    background-color: white;
    color: #051F61;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-left: 11px;
}

.header_function_input {
    width: 335px;
    height: 40px;
    background-color: white;
    display: inline-block;
    border-radius: 8px;
    vertical-align: top;
    padding: 8px 16px;

}

.fa-solid.fa-magnifying-glass {
    margin-right: 16px;
}
.header_function_input_item {
    border-color:transparent;
    color: #757897;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
}
.header__function_notifications {
    background-color: white;
    color: #051F61;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-left: 11px;
}
.header__function_options {
    background-color: white;
    color: #051F61;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-left: 11px;
}
@media  screen and (max-width:1138px) {
    .header_function_input {
        margin-bottom: 5px;
    }
}

/*-------------------------MENU-------------------------------------------------------------------------- */

.menu {
    width: 15%;
    background-color: white;
    height: 1022px;
    height: 100%;
    margin-left: 38px;
    margin-top: 43px;
}
.menu__logo {
    height: 28px;
    width: 142px;
    margin-bottom: 81px;
}

.menu__items_button {
    background-color: white;
    color: #757897;
    border: none;
    font-size: 24px;
    display: block;
    margin-bottom: 40px;
    border-radius: 8px;
}

.menu__items_text {
    margin-left: 12px;
    font-size: 24px;
    font-weight: 500;
    font-family: Poppins;
}
.menu__items_logo {
    font-size: 20px;
}
.menu__footer {
    height: 270px;
    width: 182px;
    background-color: white;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 38px 24px 38px 38px;
}

.menu__footer_text {

    font-family: Poppins;
    font-size: 16px;
    color: #051F61;
    font-weight: 500;
}
.menu__footer_progress {
    width: 100%;
    margin-top: 12px;
    
}

.menu__footer_progress-text {
    font-weight: 400;
    font-family: Poppins;
    font-size: 12px;
}
.text_blue {
    color: #051F61;
}
.text_grey {
    color: #757897;
}
.menu__footer_button {
    width: 100%;
    background-color: #0061FF;
    height: 40px;
    margin-top: 18px;
    border: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__footer_button-text {
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;

}

.menu__items_button_hover_home:hover {
    color: #0061FF;
}
.menu__items_button_hover_myFiles:hover {
    color: #0061FF;
}
.menu__items_button_hover_starred:hover {
    color: #0061FF;
}
.menu__items_button_hover_files:hover {
    color: #0061FF;
}
.menu__items_button_hover_sharred:hover {
    color: #0061FF;
}
.menu__items_button_hover_deleted:hover {
    color: #0061FF;
}


