@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 100%;
    height: 1022px;
    overflow: hidden;
}

.main-screen {
    width: 85%;
    background-color: #EBF2FF;
    height: 100%;
}

/* --------------------HEADER------------------------------------------------------------------- */
.header {
    background-color: #EBF2FF;
    margin-top: 48px;
    margin-left: 67px;
    margin-right: 62px;
    display: flex;
    justify-content: space-between;
    
}

.header__text_h2 {
    font-size: 28px;
    font-family: Poppins;
    font-weight: 600;
}
.header__text_span {
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins;
    line-height: 40px;
    color: #757897;
}
.emozi {
    font-size: 15px;
}
.header_function {
    float: right;
}
.header__function_avatar {
    background-color: white;
    color: #051F61;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-left: 11px;
}

.header_function_input {
    width: 335px;
    height: 40px;
    background-color: white;
    display: inline-block;
    border-radius: 8px;
    vertical-align: top;
    padding: 8px 16px;

}

.fa-solid.fa-magnifying-glass {
    margin-right: 16px;
}
.header_function_input_item {
    border-color:transparent;
    color: #757897;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
}
.header__function_notifications {
    background-color: white;
    color: #051F61;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-left: 11px;
}
.header__function_options {
    background-color: white;
    color: #051F61;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-left: 11px;
}

@media  screen and (max-width:1058px) {
    .header_function_input {
        margin-bottom: 5px;
    }
}
@media  screen and (max-width:1100px) {
    
    .header {
        margin-left: 20px;
        margin-right: 20px;
    }
}


@media screen and (max-width:970px) {

    .header__text_h2 {
        font-size: 20px;
    }

    .header__text_span {
        font-size: 16px;
    }
    .emozi {
        font-size: 12px;
    }
    
    .header__function_avatar {
        height: 30px;
        width: 30px;
        font-size: 15px;
    }
    .header__function_notifications {
        height: 30px;
        width: 30px;
        font-size: 15px;
    }
    .header__function_options {
        height: 30px;
        width: 30px;
        font-size: 15px;
    }
    .header_function_input {
        width: 30px;
        height: 30px;
        padding: 7px 7px;
        cursor: pointer;
        
    }
    .header_function_input_item {
        visibility: collapse; 
    }
    .fa-solid.fa-magnifying-glass {
        font-size: 15px;
    }
    
}
@media screen and (max-width:495px) {
    .header__text_h2 {
        font-size: 16px;
    }

    .header__text_span {
        font-size: 12px;
    }
    .emozi {
        font-size: 10px;
    }
}
@media screen and (max-width:390px) {
    .header__text_h2 {
        font-size: 12px;
    }

    .header__text_span {
        font-size: 8px;
    }
    .emozi {
        font-size: 8px;
    }
    .header__function_avatar {
        height: 20px;
        width: 20px;
        font-size: 10px;
    }
    .header__function_notifications {
        height: 20px;
        width: 20px;
        font-size: 10px;
    }
    .header__function_options {
        height: 20px;
        width: 20px;
        font-size: 10px;
    }
    .header_function_input {
        width: 20px;
        height: 20px;
        padding: 2px 5px;
        cursor: pointer;
        
    }
    .fa-solid.fa-magnifying-glass {
        font-size: 10px;
    }
}


/*-------------------------MENU-------------------------------------------------------------------------- */

.menu {
    width: 15%;
    background-color: white;
    height: 1022px;
    height: 100%;
    margin-left: 38px;
    margin-top: 43px;
}
.menu__logo {
    height: 28px;
    width: 142px;
    margin-bottom: 81px;
}

.menu__items_button {
    background-color: white;
    color: #757897;
    border: none;
    font-size: 24px;
    display: flex;
    margin-bottom: 40px;
    border-radius: 8px;
    
    
}

.menu__items_text {
    margin-left: 12px;
    font-size: 24px;
    font-weight: 500;
    font-family: Poppins;
}
.menu__items_logo {
    font-size: 20px;
}
.menu__footer {
    height: 270px;
    width: 182px;
    background-color: white;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 38px 24px 38px 38px;
}

.menu__footer_text {

    font-family: Poppins;
    font-size: 16px;
    color: #051F61;
    font-weight: 500;
}
.menu__footer_progress {
    width: 100%;
    margin-top: 12px;
    
}

.menu__footer_progress-text {
    font-weight: 400;
    font-family: Poppins;
    font-size: 12px;
}
.text_blue {
    color: #051F61;
}
.text_grey {
    color: #757897;
}
.menu__footer_button {
    width: 100%;
    background-color: #0061FF;
    height: 40px;
    margin-top: 18px;
    border: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__footer_button-text {
    color: white;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;

}

@media screen and (max-width:1250px) {
    .menu {
        margin-left: 5px;
    }
    .menu__footer {
        visibility: collapse;
    }
    .menu__items_text {
        font-size: 16px;
    }
    .menu__items_logo {
        font-size: 14px;
    }
    .menu__logo_name {
        height: 20px;
        width: 60px;
    }
    .menu__logo_item {
        height: 20px;
        width: 30px;
    }
    .menu__logo {
        display: flex;
    }

}

 @media screen and (max-width:720px) { 
    .menu__items_text {
        visibility: collapse;
    }
    .menu__logo_name {
        visibility: collapse;
    }
    .menu {
        width: 5%;
    }
    .main-screen {
        width: 95%;
    }
}

.menu__items_button_hover_home:hover {
    color: #0061FF;
}
.menu__items_button_hover_myFiles:hover {
    color: #0061FF;
}
.menu__items_button_hover_starred:hover {
    color: #0061FF;
}
.menu__items_button_hover_files:hover {
    color: #0061FF;
}
.menu__items_button_hover_sharred:hover {
    color: #0061FF;
}
.menu__items_button_hover_deleted:hover {
    color: #0061FF;
}

/* ----------------------------------MAIN----------------------------------------------------------------------- */

.main {
    margin-top: 96px;
    margin-left: 67px;
    display: flex;
    flex-wrap: wrap;
}
.main__container {
    height: 196px;
    margin-right: 50px;
    margin-bottom: 25px;
    width: 332px;
    display: flex;
    flex-direction: column;
    padding: 31px 30px;
    border-radius: 32px;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.06);
    background-color: white;
    

}
.main__container_header {
    display: flex;
}

.main__container_button {
    height: 40px;
    width: 40px;
    background-color:rgba(0, 97, 255, 0.1);
    color: #0061FF;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}

.main__container_description_name {
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    margin-left: 14px;    
    color: #101828;
}

.main__container_description_date {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;
    margin-left: 14px;   
    margin-top: 5px; 
    color: #667085;
}

.main__container_description {
    display: flex;
    flex-direction: column;
}

.main__container_menu-icon {
    margin-left: 60px;
    font-size: 22px;
    color: #667085;
    margin-top: 5px;
}

.main__container_text {
    text-align: center;
    justify-content: center;
}
.main__container_text {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 500;    
    color: #667085;
    margin-top: 35px;
    margin-right: 40px;
    
}
.main__container_image {
    margin-top: 15px;
}

.main__container_image_avatar2 {
    position: relative;
    right: 15px;
}
.main__container_image_avatar3 {
    position: relative;
    right: 30px;
}
.main__container_image_avatar4 {
    position: relative;
    right: 45px;
}
.main__container_image_button {
    height: 33px;
    width: 33px;
    border-radius: 10px;
    border: 0;
    position: relative;
    right: 60px;
    background-color: #EBF2FF;

}
.main__container_image_button_text {
    color: #0061FF;
    font-family: Poppins;
    font-weight: 500;
    font-size: 13px;
}
.main__container_insideUsers {
    height: 33px;
    width: 70px;
    border-radius: 10px;
    border: 0;
    right: 35px;
    position: relative;
    
    background-color: #EBF2FF;
}

.main__container_insideUsers_text {
    color: #0061FF;
    font-family: Poppins;
    font-weight: 500;
    font-size: 13px;
}





