@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}
.container {
    display: flex;
    width: 100%;
    height: 1022px;
}

/* --------------------HEADER------------------------------------------------------------------- */
.header {
    height: 18%;
    background-color: #EBF2FF;
    margin-top: 48px;
    margin-left: 67px;
    margin-right: 62px;
    display: flex;
    justify-content: space-between;
    
}

.main-screen {
    width: 78%;
    background-color: #EBF2FF;
    height: 100%;
}

.header__text_h2 {
    font-size: 28px;
    font-family: Poppins;
    font-weight: 600;
}
.header__text_span {
    font-size: 20px;
    font-weight: 400;
    font-family: Poppins;
    line-height: 40px;
}
.emozi {
    font-size: 15px;
}
.header_function {
    float: right;
}
.header__function_avatar {
    background-color: white;
    color: #051F61;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-left: 11px;
}

.header_function_input {
    width: 335px;
    height: 40px;
    background-color: white;
    display: inline-block;
    border-radius: 8px;
    vertical-align: top;
    padding: 8px 16px;

}

.fa-solid.fa-magnifying-glass {
    margin-right: 16px;
}
.header_function_input_item {
    border-color:transparent;
}
.header__function_notifications {
    background-color: white;
    color: #051F61;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-left: 11px;
}
.header__function_options {
    background-color: white;
    color: #051F61;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    margin-left: 11px;
}
@media  screen and (max-width:1138px) {
    .header_function_input {
        margin-bottom: 5px;
    }
}

/*-------------------------MENU-------------------------------------------------------------------------- */

.menu {
    width: 22%;
    background-color: white;
    height: 1022px;
    height: 100%;
}
.menu_logo {
    height: 28px;
    width: 142px;
    margin-top: 43px;
    margin-left: 38px;
}


